* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.category {
  height: 40px;
  width: 80px;
  font-size: 12px;
  font-weight: 600;
  border: 2px solid black;
  border-radius: 5px;

  &--on {
    background-color: red;
  }

  &--off {
    background-color: white;
  }

  &:hover {
    cursor: pointer;
  }
}

.menu {
  padding: 5px;
  background-color: white;
  transition: all 0.3s linear;

  &:hover {
    transition: all 0.3s linear;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: inset 0 0 3px 1px black;
  }
}
