* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__search {
    margin-bottom: 10px;
  }
}
