* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8dvh;
  width: 100vw;
  margin: auto;

  &__heading {
    font-size: 32px;
  }

  &__buttons {
    display: flex;
    //flex-wrap: wrap;
  }
}
